img{
	width:100%;
}
.tag1{
	display:flex;
}
.tag2{
	display:flex;
}
.tag3{
	display:flex;
}
.tag4{
	width:50%;
}
.about{
	width:50%;
}
.tag5{
	display:flex-warap;
	padding-left:15px;
	width:50%;
}
.tag6{
	width:50%;
	display:flex-wrap;
}
